# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
flask_debugtoolbar

# ----------------------
# Database
# ----------------------
flask-sqlalchemy
sqlalchemy-migrate

# ----------------------
# Celery
# ----------------------
celery[redis]

# ----------------------
# Helpers
# ----------------------
colorama
setproctitle

# ----------------------
# Production Server
# ----------------------
gunicorn
