{% extends "base.html" %}

{% block js %}
{% endblock %}


{% block main %}

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Phosic</h3>
      </div>

      <div class="jumbotron">
        <h1>Make video!</h1>
        <p class="lead">
          This website lets you join MP3 song and a picture, for  free! Just
          fill the form below and we will mail you the download link  when our
          robots finish creating your video.
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  <span class="help-block">We will send you download link here, nothing more.</span>
                </div>
              </div>

              <div class="form-group">
                <label for="mp3File" class="col-sm-2 control-label">MP3</label>
                <div class="col-sm-10">
                    <input type="file" id="mp3File">
                </div>
              </div>

              <div class="form-group">
                <label for="picFile" class="col-sm-2 control-label">Picture</label>
                <div class="col-sm-10">
                    <input type="file" id="picFile">
                </div>
              </div>

              <div class="form-group">
                <span class="col-sm-2">&nbsp</span>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->

{% endblock %}
