{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block main %}

<div class="row">
  <div class="col-lg-12">

    <div class="alert alert-danger">Joining failed!</div>

    <p class="text-danger">Oh, snap, something went terribly wrong and we couldn't make your video.</p>

    <p>Please try again later. You can send us this <code>{{ job.task_uuid }}</code> to help us figure out what happened. If you chose to do so, please send it to us before {{ job.expires.strftime('%d %b %Y at %H:%M') }}, otherwise all about this video will be deleted by then.</p>

    {{ job.exception }}

  </div>
</div>

{% endblock %}
